/** Formatting the body area **/
body, html {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.5;}

/** Header **/
header {background: url('/static/images/Tablet Voting.jpg'); height: 80px; width: 100%; border-radius: 15px;}
.logo {margin-top: -20px; margin-left: 5px; float: left;  width: 200px; height: 120px;}

/* The container <div> - needed to position the dropdown content */
.Menu {float: right; margin-top: 15px; margin-right: 15px;}
/* Menu Button */
.MenuBtn {display: none;}
/* Menu Content (Hidden by Default) */
.MenuContent {font-size:24px;}
/* Links inside the menu */
.MenuContent a {color: black; font-weight: bolder; padding: 10px 10px; text-decoration: none; display: inline-block;}
/* Change color of menu links on hover */
.MenuContent a:hover {background-color: silver;}

/** Centering the body content **/
.container {min-width: 500px; max-width: 97%; margin: 0 auto; overflow: auto;}

/** Formatting the page content **/
div.home, div.feedback, div.log_in, div.admin, div.about, div.president, div.abia, div.adamawa, div.akwaibom, div.anambra, div.bauchi,
div.bayelsa, div.benue, div.borno, div.crossriver, div.delta, div.ebonyi, div.edo, div.ekiti, div.enugu, div.gombe, div.imo, div.jigawa,
div.kaduna, div.kano, div.kastina,div.kebbi, div.kogi, div.kwara, div.lagos, div.nasarawa, div.niger, div.ogun, div.ondo, div.osun, div.oyo,
div.plateau, div.rivers, div.sokoto, div.taraba, div.yobe, div.zamfara {padding: 10px 0 10px 1; background-color: lavender; border-radius: 15px;}
h1 {color: green; text-shadow: 5px 4px 4px white;}
p {padding: 10px;}
.justify {text-align: justify;}
marquee {background-color: lightgreen;}
.description {width:90%; background-color: lightgreen; color: white; padding: 10px;}
input {font-size: 16px;}
table {font-size: 16px; border-spacing: 20px 5px;}
td {text-align: center;}

.grid_view { display: grid;}
.grid_list {width: 50%;}

/** Images **/
.slider {height: 500px; width: 90%;}
.candidate {width: 70px; height: 70px;}
.graph-plot {height: 500px; width: 97%;}
.profile {width: 150px; height: 150px;}
.contact {width: 25px; height: 25px;}

/** Buttons **/
button {font-size: 16px; width: 15%; border-radius: 15px; cursor: pointer;}
.yellow {background: yellow; color: blue;}
.blue {background: blue; color: white;}
.cyan {background: cyan;}
.red {background: red;}
select {background: lightgray; font-size: 16px; border-radius: 10px; cursor: pointer;}

/* Governor Menu Content (Hidden by Default) */
.StateList {display: none; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
/* Links inside the governor menu */
.StateList a {padding: 10px 10px; text-decoration: none;}
/* Change color of governor menu links on hover */
.StateList a:hover {background-color: silver;}
/* Show the governor menu content (use JS to add this class when the user clicks on the menu button) */
.view {display: block;}

/** Footer **/
footer {font-size: medium; font-weight: bold; background-color: lightgreen;}
.footer-top {background-color: lightgreen; color: white;}
.footer-bottom {background: black; color: white;}
footer a {color: black; text-decoration: none;}
.footer-menu {font-size:24px;}
.footer-image { height: 70px; width: 100px;}
