{% extends "layout.html" %}
{% block content %}
<main>
    <!-- Add Page Heading -->
    <h1>Who Are We?</h1>
    <p class="justify">An online voting system aimed at providing an easy voting exercise to the masses, most especially to the physically challenged, giving them the right to participate in nation building.
        Eliminating the risk invovled in physical voting such as: ballot theft, double voting, threat to life of officials and voters, and maintaining social distancing as we fight to flatten the curve on covid-19.
        This is platform created by Nigerian youth for better leadership experience in the nation.
    </p>

    <h2>Vision</h2>
    <p class="justify">Our vision is to provide a leading voting system in Nigeria through: real-time, and transparent voting exercise; to make a positive impact in the technological development of the country.</p>
    
    <h2>Mission</h2>
    <p class="justify">Our mission is to host credible and innovative voting platform, worthy in integrity and transparency, and expressing true democracy by being a voice to masses, through effective voting system for technological advancement of Nigeria.</p>
    
    <h2>Core Values</h2>
    <p class="justify">Remote, Secure and Real-Time online voting. Easy interface and Web accessibility. Voter authentication and no double voting. Respect and compassion for the physically challenged. Upholding Discipline, and generally acceptable ethical behavior.</p>

    <h2>Meet our Developers</h2>
    <table>
        <tr>
            <td>
                <img class="profile" src="{{url_for('static', filename='images/Philip.jpg')}}" alt="Image" /><br>
                <b>Philip Oyelegbin</b><br>
                <a href="https://mobile.facebook.com/philip.oyelegbin" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Facebook.png')}}" alt="facebook" /></a>
                <a href="https://mobile.twitter.com/OyelegbinPhilip" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Twitter.png')}}" alt="Twitter"></a>
                <a href="https://linkedin.com/in/OyelegbinPhilip" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Linkedin.png')}}" alt="LinkedIn"></a>
            </td>
            <td>
                <img class="profile" src="{{url_for('static', filename='images/Dahunsi.jpg')}}" alt="Image" /><br>
                <b>'Dahunsi Adeyinka</b><br>
                <a href="https://mobile.facebook.com/dahunsi.adeyinka" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Facebook.png')}}" alt="facebook" /></a>
                <a href="https://mobile.twitter.com/AdeyinkaDahunsi" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Twitter.png')}}" alt="Twitter"></a>
                <a href="https://linkedin.com/in/AdeyinkaDahunsi" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Linkedin.png')}}" alt="LinkedIn"></a>
            </td>
            <td>
                <img class="profile" src="{{url_for('static', filename='images/Peter.jpg')}}" alt="Image" /><br>
                <b>Peter Oyelegbin</b><br>
                <a href="https://mobile.facebook.com/peter.oyelegbin" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Facebook.png')}}" alt="facebook" /></a>
                <a href="https://mobile.twitter.com/PeterOyelegbin" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Twitter.png')}}" alt="Twitter"></a>
                <a href="https://linkedin.com/in/PeterOyelegbin" target="_blank"><img class="contact" src="{{url_for('static', filename='images/Linkedin.png')}}" alt="LinkedIn"></a>
            </td>
        </tr>
    </table>
</main>
{% endblock %}
