{% extends "layout.html" %}
{% block content %}
<main>
    <!-- Add Page Heading -->
    <h1>Admin Section</h1>
    <!-- Add Timer Section -->
    <div class="grid_view">
        <section class="col1">
            Set Timer
            <form action="{{ url_for('set_time') }}" method="POST" autocomplete="off">
                <table>
                    <tr>
                        <td>Start Date:<br>
                            <input type="date" name="start_date" required></td>
                        <td>Start Time:<br>
                            <input type="time" name="start_time" placeholder="09:00:AM" required></td>
                    </tr>
                    <tr>
                        <td>End Date:<br>
                            <input type="date" name="end_date" required></td>
                        <td>End Time:<br>
                            <input type="time" name="end_time" placeholder="10:00:PM" required></td>
                    </tr>
                </table>
                <button class="blue">Set Time</button>
            </form>
            <!-- Add Feedback Section -->
            <p>{{ timer }}</p>
        </section>
        <br>
        <section class="col2">
            Reset Database
            <!-- Add Reset Section -->
            <p style="color:red;">Confirm authorization and double check the specific data to delete before you reset the database.</p>
            <form action="{{ url_for('db_reset') }}" method="POST">
                Database:<br>
                <select class="lightgray" name="db">
                    <optgroup label="Select to Reset">
                        <option value="All">All</option>
                        <option value="President">President</option>
                        <option value="Abia">Abia State</option>
                        <option value="Adamawa">Adamawa State</option>
                        <option value="Akwaibom">Akwa Ibom State</option>
                        <option value="Anambra">Anambra State</option>
                        <option value="Bauchi">Bauchi State</option>
                        <option value="Bayelsa">Bayelsa State</option>
                        <option value="Benue">Benue State</option>
                        <option value="orno">Borno State</option>
                        <option value="Crossriver">Cross River State</option>
                        <option value="Delta">Delta State</option>
                        <option value="Ebonyi">Ebonyi State</option>
                        <option value="Edo">Edo State</option>
                        <option value="Ekiti">Ekiti State</option>
                        <option value="Enugu">Enugu State</option>
                        <option value="Gombe">Gombe State</option>
                        <option value="Imo">Imo State</option>
                        <option value="Jigawa">Jigawa State</option>
                        <option value="Kaduna">Kaduna State</option>
                        <option value="Kano">Kano State</option>
                        <option value="Kastina">Kastina State</option>
                        <option value="Kebbi">Kebbi State</option>
                        <option value="Kogi">Kogi State</option>
                        <option value="Kwara">Kwara State</option>
                        <option value="Lagos">Lagos State</option>
                        <option value="Nasarawa">Nasarawa State</option>
                        <option value="Niger">Niger State</option>
                        <option value="Ogun">Ogun State</option>
                        <option value="Ondo">Ondo State</option>
                        <option value="Osun">Osun State</option>
                        <option value="Oyo">Oyo State</option>
                        <option value="Plateau">Plateau State</option>
                        <option value="Rivers">Rivers State</option>
                        <option value="Sokoto">Sokoto State</option>
                        <option value="Taraba">Taraba State</option>
                        <option value="Yobe">Yobe State</option>
                        <option value="Zamfara">Zamfara State</option>
                    </optgroup>
                </select>
                <br>
                <button class="red">Reset</button>
            </form>
            <!-- Add Feedback Section -->
            <p>{{ dbase }}</p>
        </section>
    </div>
</main>
{% endblock %}